@font-face {
  font-family: "Vinnytsia Sans Bold";
  src: url("VinnytsiaSansBold.ttf") format("woff")
}
@font-face {
  font-family: "Vinnytsia Sans Reg";
  src: url("VinnytsiaSansReg.ttf") format("woff")
}

body {
  font-family: "Vinnytsia Sans Bold";
  text-align:left;
  margin-left: 8vw;
  margin-top: 8%;
  color: #FFFFFF;
  background: #1c1c1c;
  animation-duration: 2s;
  animation-name: slidein;
  font-size: 170%;
}

ul {
  font-family: "Vinnytsia Sans Reg";
  list-style-type: '• ';
}

p {
  font-family: "Vinnytsia Sans Reg";
  opacity: 0.5;
}

img#right-image {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  max-width: 45vw;
  object-fit: cover;
}

@media screen and ( min-width: 931px ) {
  main {
    max-width: 40vw;
  }
}

@media screen and ( max-width: 930px ) {
  #fox { display: none; }
}

@keyframes slidein {
  from {
    margin-left:-100vw;
    width: 300%;
  }

  to {
    margin-left: 8vw;
    width: 100%;
  }
}
